.testimonial-container {
  max-width: 500px;
  margin: auto;
  text-align: center;
  position: relative;
  margin-top: 80px;
}

.testimonial-slider {
  display: flex;
  align-items: center;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.testimonial-card {
  background: -webkit-linear-gradient(#272727, #ffffff);
  padding: 30px;
  border-radius: 20px;
  display: inline-block;
}

.navigation {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navigation:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.prev {
  left: 1px;
}

.next {
  right: 1px;
}

blockquote {
 font-style:unset;
}

.author,
.position {
  color: grey;
  line-height: 0;
}

.author {
  font-size: large;
}

.position {
  font-size: small;
}


.both {
  display: flex;
  align-items: center;
  justify-content: center;
}

.im {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 22%;
}
