/node_modules
.env

 "name": "Kemo",
  "email": "alphonse@gmail.com",
  "phoneNumber": "+254-717584848",
  "location" : "Kenya",
  "message": "Once upon a time in a distant land, there existed a magical forest known as Evergreen Grove. This enchanted woodland was home to a myriad of mystical creatures, from mischievous fairies to wise old centaurs.At the heart of Evergreen Grove stood the towering Tree of Ages, its ancient branches stretching towards the heavens. Legend had it that the tree held the secrets of the past, present, and future, whispered to those who dared to listen.One fateful day, a curious young elf named Elara ventured into the depths of the forest, drawn by the whispers of the wind and the rustle of leaves. As she wandered deeper into the woods, she stumbled upon a hidden glade bathed in golden sunlight.In the center of the glade stood the majestic Tree of Ages, its bark adorned with intricate runes and symbols. "

"password": "FLOWER5@$unset"