


*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
.all-footer{
    margin-bottom: 30px;
}
.footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: 60px;
    width: 100vw;
}
.firstdivs div {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: start;
    gap: 1rem;
    padding-top: 20px;
    width: 100%;
}

.lastdivs {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 2rem;
}
.firstdivs div p{
    font-weight: normal;
 
}
.firstdivs div img{
    width: 30px;
}
.seconddivs{
    text-align: left;
}
.seconddivs p{
    width: 250px;
    padding-top: 20px;
    font-size: 15px;
}
.thirddivs,.fourthdiv{
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.thirddivs p, .fourthdiv a{
    text-decoration: none;
    color: #000000;
    font-weight: normal;
    font-size: 13px;
}
.first{
    padding-bottom: 20px;
    text-decoration: none;
    color: #000000;
    font-size: 15px;
    font-weight: 700;
}

.mail{
    width: 130px;
    word-wrap: break-word;
}
.copyright{
    padding: 20px;
}
.logos{
    display: flex;
    gap: 0;
}
.logos img{
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: contain;
}
.social{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.social p{
    padding-left: 20px;
}
@media (max-width:768px) {
    .footer{
        flex-direction: column;
        padding-left: 20px;
    }
    .firstdivs div{
        align-items: start;
    }
    .lastdivs{
        flex-direction: column;
        align-items:  start;
    }
    .mail{
        width: 100%;
    }
}
